*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    background: linear-gradient(rgba(12, 3, 5, 0.3), rgba(12, 3, 5, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content h1{
    font-size: 160px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #fff;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 15px 50px;
    margin-top: 5px;
    transition: 0.3s ease-in;
}

.content a:hover{
    background-color: #fff;
    color: #000;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}